.priceContainer {
  display: flex;
  align-items: center;
}

.logoImage {
  margin-right: 15px;
  width: 30px;
  height: auto;
}

.mypPrice,
.tcgPrice {
  font-size: 16px;
  font-weight: bold;
  color: #191919;
}

.price-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.col-title,
.col-spacer,
.col-price-usd,
.col-price-brl {
  margin-right: 10px;
}

.price-title {
  font-weight: bold;
}

.spacer {
  width: 5px;
  height: 5px;
  background-color: gray;
  border-radius: 50%;
}
